@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    padding-top: 200px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLzxPyRpr6TLV-_IorD6kxUefPnSxB0YMCAQ&usqp=CAU');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}
#fundo{
    box-shadow: 8px 10px 8px  rgba(0, 0, 0, 0.411);
    margin: auto;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    height: 400px;
    width: 700px;
    border-radius: 20px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header  h1{
    padding-top: 10px; 
    padding-left: 20px;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    
    color: rgb(6, 110, 76);
}
ul{
    padding-top: 10px;
}
#web{
    margin-left: -310px;
    font-weight: bolder;
}
a{
    padding: 10px;
    text-decoration: none;
    color: rgb(160, 160, 160);
}
a:hover{
    text-decoration: underline;
}
#title{
    color: rgb(5, 70, 45);
    padding: 10px;
    padding-left: 20px;
}
main{
    display: flex;
    flex-direction: row;
}
p{
    padding: 0px 20px 20px 20px;
    text-align: justify;
}
img{
    padding-top: 55px;
    width: 400px;
}
#especial{
    border: 2px solid rgb(219, 219, 65);
    background-color: rgb(219, 219, 65);
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
#especial:hover{
    border: 2px solid rgb(219, 219, 65);
    background-color: rgb(255, 255, 255);
    color: rgb(219, 219, 65);
}

#botao{
    padding: 10px;
    margin-left: 20px;
    border: 1px solid rgb(219, 219, 65);
    background-color: rgb(219, 219, 65);
    border-radius: 20px;
    color: white;
}
#botao:hover{
    border: 2px solid rgb(219, 219, 65);
    background-color: rgb(255, 255, 255);
    color: rgb(219, 219, 65);

}