@charset "UTF-8";

/*
em html é id em css é #
em html é class em css é .
*/

body{
    background-color: rgb(231, 185, 194);
}

h1{
    color: crimson;
}

h2{
    color: rgb(255, 255, 255);
}

h1#especial{
    background-color: crimson;
    color: aliceblue;
    text-align: center;
}

.basico{
    color: rgb(62, 212, 57);
}
.intermediario{
    color: rgb(212, 212, 57);
}
.avancado{
    color: rgb(212, 57, 57);
}